# 智能风扇

template/

# 3-程序/*.OBJ
# 3-程序/*.A51
# 3-程序/*.bak
# 3-程序/*.lnp
# 3-程序/*.LST
# 3-程序/*.M51
# 3-程序/*.plg
# 3-程序/*.uvopt
# 3-程序/*.uvoproj

3-程序/*
!3-程序/*/
3-程序/.vscode/
!3-程序/*.md

1-仿真*/*

!1-仿真*/*.md